body{
    background-color: rgb(152, 195, 180);
}

header{
    background-color: rgb(68, 119, 177);
    margin-bottom: 50px;
}

.nav-link{
    color: black;
}

#materias img{
    max-height: 800px;
    margin: auto;
}

#materias button{
    max-height: 100px;
    margin: auto;
}

.carousel-caption h2{
    font-size: 60px;
    padding-bottom: 12px;
}

#novos-materiais{
    margin: 40px 0;
}

.card{
    margin-top: 10px;
}

#aba1,
#aba2{
    background-color: aliceblue;
    padding: 8px;
}

